Source: backuppc-helper
Section: admin
Priority: optional
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.2
Vcs-Git: https://github.com/waja/backuppc-helper.git
Vcs-Browser: https://github.com/waja/backuppc-helper

Package: backuppc-helper
Architecture: all
Depends: lvm2, ${misc:Depends}
Suggests: backuppc
Description: helper scripts used by backuppc to create LVM snapshots
 This package contains helper script which make life easier with backuppc.
 With this scripts you can create and destroy LVM snapshots of volumes used
 with Xen and KVM virtualisation technology.
