Source: backuppc-helper
Section: admin
Priority: extra
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.4

Package: backuppc-helper
Architecture: all
Depends: ${misc:Depends}, lvm2
Suggests: backuppc
Description: helper scripts used by backuppc to create LVM snapshots
 This package contains helper script which make life easier with backuppc.
 With this scripts you can create and destroy LVM snapshots of volumes used
 with Xen and KVM virtualisation technology.
